.CardArticle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: filter 150ms ease-in-out;
    max-height: 245px;
    padding: 5px 20px;
    max-width: 350px;
    max-height: 350px;
    border: 2px dashed darkcyan;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px darkcyan;
}

.CardArticle:hover {
    filter: contrast(130%);
    transition: filter 150ms ease-in-out;
}

.CardArticle h1 {
    max-width:350px;
}

.CardArticle p {
    margin:0;
    margin-bottom: 20px;
    max-width:350px;
}

.CardArticle span {
    margin:0;
    margin-bottom: 20px;
    font-weight: 200;
    text-decoration: underline;
    max-width:350px;
}

.CardLink {
    margin-bottom: 10px;
    color: whitesmoke;
    text-shadow: 0 0 5px darkcyan;
    text-decoration: none;
    transition: text-shadow 150ms ease-in-out;
}

.CardLink:hover {
    text-shadow: 0 0 5px black;
    transition: text-shadow 150ms ease-in-out;
}