.User {
    width: 800px;
    margin: 20px auto;
    text-align: center;
    line-height: 20px;
    background-color: whitesmoke;
    border: 1px dashed darkcyan;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px darkcyan;
}

.User h1 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    color: darkcyan;
    font-size: 20px;
}
.User .group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.User .group label {
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.User .group input {
    width: 250px;
    border-color: darkcyan;
}

.User .group button {
    cursor: pointer;
    margin: 20px 0;
    color: black;
    background-color: whitesmoke;
    border-color: darkcyan;
}

.User .group button:hover {
    color: darkcyan;
    font-weight: bold;
    box-shadow: 0 0 5px darkcyan;
}

.User table {
    width: 800px;
    border: 2px dashed darkcyan;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-spacing: 0;
}

.User table thead tr th {
    padding: 5px 5px;
    border: 2px dashed darkcyan;
    border-left: none;
    border-bottom: none;
    
}

.User table tbody tr td {
    padding: 5px 5px;
    border-top: 2px dashed darkcyan;
    border-right: 2px dashed darkcyan;
}

.userEditIcon {
    padding-right: 20px;
    cursor: pointer;
    color: black;
}

.userEditIcon:hover {
    color: green;
}

.userDeleteIcon {
    cursor: pointer;
    color: black;
}

.userDeleteIcon:hover {
    color: red;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.spinnerIcon {
    animation: spinnerRotation 600ms ease-in infinite;
}

@keyframes spinnerRotation {
    0% {
        color: white;
        rotate: 0deg;
    }
    30% {
        color: white;
        rotate: 50deg;
    }
    40%{
        color:darkcyan;
    }
    60%{
        color:darkcyan;
    }
    70% {
        color: white;
        rotate: 310deg;
    }
    100% {
        color: white;
        rotate: 360deg;
    }
}

@media screen and (max-device-width: 1024px)  and (orientation : portrait) {
    .User {
        max-width: 350px;
    }

    .User table {
        width: 350px;
        border: none;
    }

    .User table thead {
        display: none;
    }
    .User table tbody tr td {
        display: block;
        text-align: right;
        border-right: none;
        border-bottom: none;
    }

    .User table tbody tr td:nth-child(0n+1) {
        border-top: 3px solid darkcyan;
    }

    .User table tbody tr td:nth-child(0n+6) {
        padding: 0;
        border-top: none;
    }

    .User table tbody tr td:nth-child(0n+7) {
        padding: 0;
        border-top: none;
        height: 0;
    }

    .User table tr{
        display: block;
    }
        
    .User table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .userEditIcon {
        position: relative;
        top: 0;
        right: 50px;
    }

    .userDeleteIcon {
        position: relative;
        top: 0;
        right: 15px;
    }
}