.Login {
    text-align: center;
    line-height: 50px;
    background-color: whitesmoke;
    border-bottom: 1px dashed darkcyan;
    box-shadow: 0 0 10px darkcyan;
}

.Login h1 {
    margin: 0;
    padding: 0;
    color: darkcyan;
    font-size: 20px;
}
.Login .group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login .group label {
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.Login .group input {
    width: 250px;
    border-color: darkcyan;
}

.Login .group button {
    cursor: pointer;
    margin: 20px 0;
    color: black;
    background-color: whitesmoke;
    border-color: darkcyan;
}

.Login .group button:hover {
    color: darkcyan;
    font-weight: bold;
    box-shadow: 0 0 5px darkcyan;
}