.AdminHeader {
    display: flex;
    line-height: 50px;
    background-color: whitesmoke;
    border-bottom: 1px dashed darkcyan;
    box-shadow: 0 0 10px darkcyan;
}

.AdminHeader h1 {
    margin: 0;
    padding: 0;
    color: darkcyan;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
}

.AdminHeader button {
    width: 150px;
    cursor: pointer;
    margin: 5px 15px;
    color: black;
    background-color: whitesmoke;
    border-color: darkcyan;
}

.AdminHeader button:hover {
    font-weight: bold;
    box-shadow: 0 0 5px darkcyan;
}

.AdminHeader li {
    display: inline-block;
    margin-right: 20px;
}

.AdminHeader li a {
    margin-top: 10px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
}

.AdminHeader li a:hover {
    color: darkcyan;
    font-weight: bold;
    transition: all 100ms ease-in-out;
}

@media screen and (max-device-width: 1024px)  and (orientation : portrait) {
    .AdminHeader {
        line-height: 25px;
    }

    .AdminHeader li {
        display: flex;
    }

    .AdminHeader li a {
        margin-top: 12.5px;
    }
}