#admin {
    display: flex;
}

#admin_body {
    flex-grow: 6;
}

@media screen and (max-device-width: 1024px)  and (orientation : portrait) {
    #admin {
        flex-direction: column;
    }

    #admin_body {
        flex-grow: 0;
    }
}