body {
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

@media screen and (max-device-width: 1024px)  and (orientation : portrait) {
  body {
    background-position: center center;
    background-attachment: fixed;
    background-position-x: right;
  }
}