h1{
    color:whitesmoke;
}

.Home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Service {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
    margin: auto;
    max-width: 800px;
    max-height: 800px;
    border: 2px dashed darkcyan;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px darkcyan;
}

.Service h1 {
    color: whitesmoke;
    text-shadow: 0 0 5px darkcyan;
    transition: text-shadow 150ms ease-in-out;
    max-width: 800px;
}

.Service h1:hover{
    text-shadow: 0 0 5px black;
    transition: text-shadow 150ms ease-in-out;
}

.Service p {
    color: whitesmoke;
    text-shadow: 0 0 5px darkcyan;
    margin:0;
    margin-bottom: 20px;
    transition: text-shadow 150ms ease-in-out;
    max-width: 800px;
}

.Service p:hover{
    text-shadow: 0 0 5px black;
    transition: text-shadow 150ms ease-in-out;
}

.Service span {
    color: whitesmoke;
    text-shadow: 0 0 5px darkcyan;
    margin:0;
    margin-bottom: 20px;
    font-weight: 200;
    text-decoration: underline;
    transition: text-shadow 150ms ease-in-out;
    max-width: 800px;
}

.Service span:hover{
    text-shadow: 0 0 5px black;
    transition: text-shadow 150ms ease-in-out;
}

.Contact {
    margin: auto;
    max-width: 800px;
    background-color: whitesmoke;
    border: 2px dashed darkcyan;
    border-radius: 10px 10px 10px 10px;
}

.Contact h1 {
    color: darkcyan;
    margin: 0 auto;
}

.Contact div {
    margin: auto;
    max-width: 300px;
    background-color: whitesmoke;
    border: 2px dashed darkcyan;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.Contact div h2 {
    margin-top: 0;
    color:darkcyan;
}

.Contact div h3 {
    color: black;
}

.Contact div p {
    border-top: 2px dashed darkcyan;
    margin: auto 0;
    padding: 10px 0;
    font-weight: bold;
}

.Contact div p span {
    font-weight: normal;
}

.Contact div p a {
    text-decoration: none;
    font-weight: normal;
    color: black;
    transition: all 150ms ease-in-out;
}

.Contact div p a:hover {
    color: darkcyan;
    font-weight: bold;
    transition: all 150ms ease-in-out;
}

.spinnerIcon {
    animation: spinnerRotation 600ms ease-in infinite;
}

@keyframes spinnerRotation {
    0% {
        color: white;
        rotate: 0deg;
    }
    30% {
        color: white;
        rotate: 50deg;
    }
    40%{
        color:darkcyan;
    }
    60%{
        color:darkcyan;
    }
    70% {
        color: white;
        rotate: 310deg;
    }
    100% {
        color: white;
        rotate: 360deg;
    }
}

@media screen and (max-device-width: 1024px)  and (orientation : portrait) {
    .Service img {
        max-width: 350px;
        max-height: 350px;
        border: 2px dashed darkcyan;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 10px darkcyan;
    }

    .Service h1, .Service p, .Service span {
        max-width:350px;
    }

    .Contact {
        max-width: 350px;
    }
}